<%- include('../partials/header') %>
    <div class="container">
        <div>
            <h1>SQLite Bread (Browse, Read, Edit, Add, Delete) and Pagination</h1>
        </div>
        <div>
            <form action="/users" method="get">
                <input type="hidden" name="page" value="1">
                <div class="row mb-3">
                    <label for="title" class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="title" placeholder="Insert your title"
                            value="<%= query.title %>" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="deadline" class="col-sm-2 col-form-label">Deadline</label>
                    <div class="col-sm-10">
                        <div class="row g-3">
                            <div class="col">
                                <input type="date" class="form-control" name="startdate"
                                    value="<%= query.startdate %>" />
                            </div>
                            <div class="col-md-2" style="padding-top: 7px; padding-left: 7%;">
                                <span>s.d.</span>
                            </div>
                            <div class="col">
                                <input type="date" class="form-control" name="enddate" value="<%= query.enddate %>" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="Complete" class="col-sm-2 col-form-label">Complete</label>
                    <div class="col-sm-10">
                        <% if(query.complete=='true' ) { %>
                            <select name="complete" class="form-control">
                                <option disabled> -select complete- </option><br>
                                <option value="true" selected>Done</option>
                                <option value="false">Not Yet</option>
                            </select>
                            <% } else if (query.complete=='false' ) { %>
                                <select name="complete" class="form-control">
                                    <option disabled> -select complete- </option><br>
                                    <option value="true">Done</option>
                                    <option value="false" selected>Not Yet</option>
                                </select>
                                <% } else { %>
                                    <select name="complete" class="form-control">
                                        <option disabled selected> -select complete- </option><br>
                                        <option value="true">Done</option>
                                        <option value="false">Not Yet</option>
                                    </select>
                                    <% } %>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="Operation" class="col-sm-2 col-form-label">Operation</label>
                    <div class="col-sm-10 rp">
                        <div class="form-check form-check-inline" style="padding-left: 0px;">
                            <div>
                                <% if(query.mode=='OR' ) { %>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="or" name="mode" value="OR"
                                            checked>
                                        <label style="padding-right: 10px;" for="or">OR</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="and" name="mode" value="AND">
                                        <label for="and">AND</label>
                                    </div>
                                    <% } else if(query.mode=='AND' ) { %>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="or" name="mode" value="OR">
                                            <label style="padding-right: 10px;" for="or">OR</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="and" name="mode"
                                                value="AND" checked>
                                            <label for="and">AND</label>
                                        </div>
                                        <% } else { %>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="or" name="mode"
                                                    value="OR" checked>
                                                <label style="padding-right: 10px;" for="or">OR</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" id="and" name="mode"
                                                    value="AND">
                                                <label for="and">AND</label>
                                            </div>
                                            <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-info" type="submit">Search</button>
                    <a class="btn btn-warning" href="/users">Reset</a>
                </div>
            </form>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Title</th>
                        <th>Complete</th>
                        <th>Deadline</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach((item, index)=> { %>
                        <tr>
                            <td>
                                <%= index + offset + 1 %>
                            </td>
                            <td>
                                <%= item.title %>
                            </td>
                            <td>
                                <%= item.complete? "Done" : "Not Yet" %>
                            </td>
                            <td>
                                <%= moment(item.deadline).locale('id').format('Do MMM YYYY LT') %>
                            </td>
                            <td>
                                <a class="btn btn-success" href="/users/edit/<%= item.id %>">Update</a>
                                <button class="btn btn-danger"
                                    onclick="on('<%= item.id %>, <%= item.name %>')">Delete</button>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <div class="foot">
            <div>
                <a class="btn btn-primary" href="/users/add">Add</a>
            </div>
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item">
                            <% if (page=='1' ) { %>
                                <a class="page-link" href="/users<%= url.replace(`page=${page}`,`page=${page}`) %>">&laquo;</a>
                                <% } else { %>
                                    <a class="page-link" href="/users<%= url.replace(`page=${page}`,`page=${page - 1}`) %>">&laquo;</a>
                                    <% } %>
                        </li>
                        <% for (let i=1; i <=pages; i++ ) { %>
                            <% if (i == page) { %>
                                <li class="page-item active"><a class="page-link"
                                    href="/users<%=url.replace(`page=${page}`, `page=${i}`) %>">
                                    <%= i %>
                                </a></li>
                                <% } else { %>
                                    <li class="page-item"><a class="page-link"
                                        href="/users<%=url.replace(`page=${page}`, `page=${i}`) %>">
                                        <%= i %>
                                    </a></li>    
                                    <% } %>
                            <% } %>
                                <li class="page-item">
                                    <% if (page==pages ) { %>
                                        <a class="page-link" href="/users<%= url.replace(`page=${page}`,`page=${page}`) %>">&raquo;</a>
                                        <% } else { %>
                                            <a class="page-link"
                                                href="/users<%= url.replace(`page=${page}`,`page=${(page * 1) + 1}`) %>">&raquo;</a>
                                            <% } %>
                                </li>
                    </ul>
                </nav>
            </div>
              
        </div>
    </div>

    <%- include('../partials/footer') %>